:root {
    --display-l-font-size: calc(16px* 5.8517779307);
    --display-m-font-size: calc(16px* 4.623627007);
    --display-s-font-size: calc(16px* 4.1098906729);
    --headline-l-font-size: calc(16px* 4.623627007);
    --headline-m-font-size: calc(16px* 3.6532361537);
    --headline-s-font-size: calc(16px* 2.8865075782);
    --title-l-font-size: calc(16px* 3.2473210255);
    --title-m-font-size: calc(16px* 2.8865075782);
    --title-s-font-size: calc(16px* 2.2806973457);
    --subtitle-l-font-size: calc(16px* 2.0272865295);
    --subtitle-m-font-size: calc(16px* 1.423828125);
    --subtitle-s-font-size: calc(16px* 1.265625);
    --body-l-font-size: calc(16px* 1.125);
    --body-m-font-size: calc(16px* 1);
    --body-s-font-size: calc(16px / 1.125);
    --caption-font-size: calc(16px / 1.265625);
    --note-font-size: calc(16px / 1.423828125);
}
:root {
    --action-on-conversion: rgb(var(--color-neutral-greige-50));
    --action-on-conversion-hover: rgb(var(--color-neutral-greige-50));
    --action-on-conversion-active: rgb(var(--color-neutral-greige-50));
}
:root {
    --action-conversion: rgb(var(--color-primary-base-500));
    --action-conversion-hover: rgb(var(--color-primary-base-600));
    --action-conversion-active: rgb(var(--color-primary-base-700));
}
:root {
    --color-primary-base-900: 38, 51, 105;
    --color-primary-base-800: 47, 62, 125;
    --color-primary-base-700: 57, 75, 190;
    --color-primary-base-600: 81, 104, 204;
    --color-primary-base-500: 103, 132, 254;
    --color-primary-base-400: 127, 155, 255;
    --color-primary-base-300: 170, 191, 255;
    --color-primary-base-200: 203, 217, 255;
    --color-primary-base-100: 231, 238, 255;
    --color-primary-clinical-900: 30, 61, 38;
    --color-primary-clinical-800: 38, 73, 47;
    --color-primary-clinical-700: 48, 89, 58;
    --color-primary-clinical-600: 68, 123, 82;
    --color-primary-clinical-500: 87, 155, 104;
    --color-primary-clinical-400: 99, 176, 118;
    --color-primary-clinical-300: 121, 212, 143;
    --color-primary-clinical-200: 139, 239, 163;
    --color-primary-clinical-100: 208, 249, 125;
    --color-neutral-grayscale-1000: 0, 0, 0;
    --color-neutral-grayscale-900: 26, 26, 26;
    --color-neutral-grayscale-800: 51, 51, 51;
    --color-neutral-grayscale-700: 102, 102, 102;
    --color-neutral-grayscale-600: 153, 153, 153;
    --color-neutral-grayscale-500: 204, 204, 204;
    --color-neutral-grayscale-400: 222, 222, 222;
    --color-neutral-grayscale-300: 239, 239, 239;
    --color-neutral-grayscale-200: 250, 250, 250;
    --color-neutral-grayscale-100: 255, 255, 255;
    --color-neutral-greige-1000: 15, 15, 15;
    --color-neutral-greige-900: 57, 54, 51;
    --color-neutral-greige-800: 69, 65, 62;
    --color-neutral-greige-700: 83, 80, 76;
    --color-neutral-greige-600: 114, 111, 107;
    --color-neutral-greige-500: 145, 140, 136;
    --color-neutral-greige-400: 164, 159, 155;
    --color-neutral-greige-300: 196, 192, 188;
    --color-neutral-greige-200: 221, 217, 213;
    --color-neutral-greige-100: 242, 238, 234;
    --color-neutral-greige-75: 251, 250, 249;
    --color-neutral-greige-50: 255, 255, 255;
    --color-status-success-900: 1, 84, 83;
    --color-status-success-800: 2, 102, 90;
    --color-status-success-700: 3, 126, 100;
    --color-status-success-600: 5, 151, 105;
    --color-status-success-500: 7, 176, 106;
    --color-status-success-400: 58, 207, 130;
    --color-status-success-300: 98, 231, 149;
    --color-status-success-200: 147, 237, 173;
    --color-status-success-100: 216, 247, 234;
    --color-status-warning-900: 122, 85, 1;
    --color-status-warning-800: 147, 106, 2;
    --color-status-warning-700: 183, 136, 3;
    --color-status-warning-600: 219, 167, 5;
    --color-status-warning-500: 255, 201, 7;
    --color-status-warning-400: 255, 218, 69;
    --color-status-warning-300: 255, 229, 106;
    --color-status-warning-200: 255, 240, 155;
    --color-status-warning-100: 255, 248, 205;
    --color-status-error-900: 104, 6, 27;
    --color-status-error-800: 125, 10, 26;
    --color-status-error-700: 156, 16, 24;
    --color-status-error-600: 183, 25, 38;
    --color-status-error-500: 217, 52, 33;
    --color-status-error-400: 251, 79, 78;
    --color-status-error-300: 255, 162, 131;
    --color-status-error-200: 255, 199, 173;
    --color-status-error-100: 255, 222, 218;
    --color-status-disabled-500: 204, 204, 204;}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    
}

body{
    background-color: rgb(var(--color-neutral-greige-100));
    max-width: 100vw;
    min-height: 100vh;
}

p{
    margin: 0;
}
a{
    all: unset;
    cursor: pointer;
    color: inherit !important;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.opacity_50 {
    opacity: calc(50 / 100)
}
.txt_caption, .b2b_navigation ul li .link_primary_neutral, 
.order-bar .navigation_content li, .order-bar .navigation_btn, 
.order-bar .navigation_specs, .order-bar .ob-info .price, .order-bar 
.label-comingsoon, .input_wrapper label, .label_cv {
    font-size: var(--caption-font-size);
    line-height: calc(calc(16px / 1.265625)* 1.125);
    color: rgb(var(--color-neutral-greige-700));
} 

.txt_medium, .flag, .price .special, .link_primary, .header-banner 
.banner-inner a, .link_primary_neutral, .link_primary_reversed, 
.link_secondary, .link_alert, .link_warning, .btn_primary_neutral, 
.btn_secondary_neutral, .btn_alert, .btn_tertiary_reversed, 
.btn_secondary_reversed, .btn_primary_reversed, .btn_conversion, 
.btn_tertiary, .btn_secondary, .btn_primary {
    font-weight: 500;
}
.txt_subtitle {
    font-size: var(--subtitle-m-font-size);
    line-height: calc(calc(16px* 1.423828125)* 1.125);
    color: rgb(var(--color-neutral-greige-1000));
    font-weight: 500;
}
.txt_headline {
    font-size: var(--headline-l-font-size);
    line-height: calc(calc(16px* 4.623627007)* 1.125);
    font-weight: 400;
}

.txt_uppercase, .b2b_navigation ul li .link_primary_neutral, .label_cv {
    text-transform: uppercase;
    letter-spacing: .125rem;
}

.txt_title_small {
    font-size: var(--title-s-font-size);
    line-height: normal;
}

.parent-container{
    /* overflow: hidden; */
    width: 100%;
}

.nav-bar{
    padding-right: 30px;
    padding-left: 50px;
    background-color: #fff;
    width: 100%;
    margin: 0;
}

.drop-down{
    background: rgb(var(--color-neutral-grayscale-100));
    box-shadow: 0 13px 13px -10px rgba(0, 0, 0, .08);
    border-radius: 8px;
    z-index: 1000;
    border: solid 1px rgb(var(--color-neutral-grayscale-500));
}

.drop-down > span{
    white-space: nowrap;
}
.logo-container{
    width: fit-content;
}

.logo-container > a{
    padding-right: 30px;
}

.menu > div{
    font-size: var(--body-s-font-size);
    color: rgb(114, 114, 114);
    transition: color 0.7s ease-in;
    font-weight: 500;
    cursor: pointer;
}

.menu > div:hover{
    color: rgb(var(--color-neutral-grayscale-800));
}


.body-nav-bar{
    padding:10px 50px 5px 50px ;
    background-color: #fff;
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    height: fit-content;
    align-self: flex-start;

}
.badge{
    
    display: inline-block;
    font-size: 11px !important;
    font-weight: 600 !important;
    line-height: 1;
    padding: 3px 4px 3px 4px;
    color: rgb(var(--color-neutral-grayscale-800));
    border: 1px solid rgb(var(--color-neutral-grayscale-800));
    border-radius: 4px;
}

.drop-down {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out, visibility 0.5s;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    top:120%; 
    max-height: 0;
    overflow: hidden;
    left: 0;
    width: max-content;
    align-content: start;
}
.drop-down h6{
    font-weight: 500;
    font-size: .707rem;
    line-height: .8125rem;
    opacity: calc(60 / 100)
}
.dropdown-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px ;
}

.dropdown-grid2{
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    row-gap: 16px ;
    column-gap: 30px;
}
.menu > div:hover .drop-down {
    opacity: 1;
    max-height: 500px;
    visibility: visible;
}

.drop-down span{
    font-size:14px;
    width:max-content
}
.rating-nav-container:nth-child(1)> div  > p{
    color: rgb(var(--color-neutral-greige-900));
}
.rating-nav-container:first-of-type div>span{
    color: rgb(var(--color-neutral-greige-700))
}

.btn-buy-now{
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding:6px 14px 6px 14px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-2);
    color: var(--action-on-conversion);
    background-color: var(--action-conversion);
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.body-scan-text-container > h2{
    font-size: var(--headline-l-font-size);
    line-height: calc(calc(16px* 4.623627007)* 1.125);
    font-weight: 400;
    color: rgba(var(--color-neutral-grayscale-100), 0.88);
}

.body-scan-text-container > p{
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    color: rgba(var(--color-neutral-grayscale-100), 0.88);
}


.product-vid-container{
    width: 95%;
    height: fit-content;
    background: linear-gradient(0deg, #f94573 0%, #e73d4a 40%);
    padding: 100px 0 5px 0;
    border-radius: 40px;
}

.vid-body-scan{
    width: 100%;
    height: auto;
}

.vid-body-scan video {
    width: 100%;
    height: auto;
}

.health-analysis-heading-container{
    width: 95%;
    height: fit-content;
}

.health-analysis-body-container{
    width: 93%;
    height: auto;
}

.health-analysis-vid-container{
    width: 100%;
    height: auto;
}

.health-analysis-vid-container >:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:-100;
    border-radius: 12px;
    filter: brightness(60%)
}


.health-analysis-vid-container >:nth-child(2){
    padding: 180px 0 170px 0;
}
.health-analysis-vid-container >:nth-child(2) {
    font-size: var(--title-l-font-size);
    line-height: calc(calc(16px* 3.2473210255)* 1.125);
    color: #fff;
}


.health-analysis-grid-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px; 
}

.btn-container > button
{
    padding:12px 22px 12px 22px;
    font-size: 18px;
    font-weight: 600;

}

.three-D-container{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}


.three-D-container h1{
    color: black;   
}

.plus-icon-btn{
    all: unset;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    opacity: 0.9;
    text-align: center;
    background-color: black;
    position: relative;
}

.plus-icon-btn > span{
    font-size: 45px;
    color: white;
    position: absolute;
    bottom: -9px;
    left: 5px;
}

.muscle-mass-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 93%;
    height: auto;
    gap: 10px;
}

.muscle-mass-grid > :nth-child(1),.muscle-mass-grid > :nth-child(2){
 
}

.limbs{
    position: absolute;
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(16px);
    padding: var(--space-2) var(--space-4);
    border-radius: var(--space-2);
}

.ninty-percent{
    width: 95%;
    height: 100%;
    object-fit: cover;


}

.muscle-mass-grid img{
    border-radius: 15px;
}


